<header class="main-header sticky-top">
    <div class="container header-container">
        <div class="header-left">
            <a routerLink="/" class="brand">
                <i class="bi bi-controller brand-icon"></i>
                <span class="brand-text">FrikiTrader</span>
            </a>
        </div>

        <div class="header-center d-none d-lg-block flex-grow-1 mx-5">
            <div class="search-bar">
                <i class="bi bi-search search-icon"></i>
                <input type="text" class="search-input" placeholder="Busca tus productos favoritos..." />
            </div>   
        </div>

        <div class="header-right">
            <button routerLink="/vender" class="btn-vender d-none d-md-flex">
                <i class="bi bi-plus-circle-fill"></i>
                <span>Vender</span>
            </button>

            <button class="btn-icon">
                <i class="bi bi-bell"></i>
            </button>
            <div class="user-profile ms-2">
                
                <img src="'https://ui-avatars.com/api/?name=' + getUserName() + '&background=6366f1&color=fff'" alt="Perfil" class="avatar">
            </div>
            <button *ngIf="isLoggedIn()"  (click)="logout()" class="btn-logout-minimal" title="Cerrar Sesión">
                    <i class="bi bi-box-arrow-right"></i>   
            </button>
        </div>

    </div>
</header>
