<header class="main-header sticky-top">
    <div class="container header-container">
        <div class="header-left">
            <a routerLink="/home" class="brand">
                <i class="bi bi-controller brand-icon"></i>
                <span class="brand-text">FrikiTrader</span>
            </a>
        </div>

        <div class="header-center d-none d-lg-block flex-grow-1 mx-5">
            <div class="search-bar">
                <i class="bi bi-search search-icon"></i>
                <input type="text" #txtSearch (keyup)="onSearch(txtSearch.value)" class="search-input" placeholder="Busca tus productos favoritos..." />

                <button *ngIf="txtSearch.value" class="btn-clear-search" (click)="clearSearch(txtSearch)">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
            </div>   
        </div>

        <div class="header-right">
            <button routerLink="/vender" class="btn-vender d-none d-md-flex">
                <i class="bi bi-plus-circle-fill"></i>
                <span>Vender</span>
            </button>

            <button class="btn-icon">
                <i class="bi bi-bell"></i>
            </button>

            <div class="user-profile ms-2" *ngIf="authService.currentUser() as user">
                <div class="use-info-wrapper d-flex align-items-center" [routerLink]="['/perfil']" style="cursor: pointer;">
                    <span class="usernem-text me-2 d-none d-sm-block">{{ user.userName }} </span>
                        <img [src]="user.avatar || 'https://ui-avatars.com/api/?name=' + user.userName + '&background=6366f1&color=fff'"
                        alt="Perfil"
                        class="avatar">
                </div>
            </div>

            <button *ngIf="isLoggedIn()"  (click)="logout()" class="btn-logout-minimal" title="Cerrar Sesión">
                    <i class="bi bi-box-arrow-right"></i>   
            </button>
        </div>

    </div>
</header>
