<div class="filter-container p-3 mb-4 shadow-sm border rounded-4 bg-white">
    <div class="d-flex flex-wrap align-items-center gap-4">

        <div class="filter-capsule">
            <label class="capsule-label">Categoría</label>
            <select class="form-select" [(ngModel)]="filters.categoryId" (change)="applyFilters()">
                <option value="">Todas</option>
                <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
            </select>
        </div>

        <div class="filter-capsule">
            <label class="capsule-label">Ordenar productos</label>
            <select class="form-select" [(ngModel)]="filters.order" (change)="applyFilters()">
            <option value="newest">Novedades</option>
            <option value="asc">Más barato primero</option>
            <option value="desc">Más caro primero</option>
            </select>
        </div>

        <div class="ms-md-auto">
            <button 
                type="button" 
                class="fav-toggle-btn" 
                [class.active]="filters.onlyFavorites"
                (click)="toggleFavorites()">
                <i class="bi" [ngClass]="filters.onlyFavorites ? 'bi-heart-fill' : 'bi-heart'"></i>
                <span>{{ filters.onlyFavorites ? 'Mis favoritos' : 'Ver favoritos' }}</span>
            </button>
        </div>
    </div>

</div>
